<h1>Reset Your Password</h1>

<%= form_with url: b2b_password_reset_start_path, method: :post, local: true do |form| %>
  <div class="form-group">
    <%= form.label :email, 'Enter your email address' %>
    <%= form.email_field :email, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= form.label :organization_slug, 'Organization Slug' %>
    <%= form.text_field :organization_slug, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= form.submit 'Send Reset Instructions', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back to login', login_path %>
