<h1>Reset Your Password Using Existing Password</h1>

<%= form_with url: phcdevworks_accounts_stytch.b2b_process_reset_existing_password_path, method: :post do |form| %>
  <div>
    <%= form.label :email, "Email" %>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label :organization_slug, "Organization Slug" %>
    <%= form.text_field :organization_slug, required: true %>
  </div>

  <div>
    <%= form.label :old_password, "Old Password" %>
    <%= form.password_field :old_password, required: true %>
  </div>

  <div>
    <%= form.label :new_password, "New Password" %>
    <%= form.password_field :new_password, required: true %>
  </div>

  <div>
    <%= form.submit "Reset Password" %>
  </div>
<% end %>
