<h1>Change Your Password</h1>

<%= form_with url: b2b_password_reset_existing_path, method: :post, local: true do |form| %>
  <div class="form-group">
    <%= form.label :email, 'Email' %>
    <%= form.email_field :email, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= form.label :existing_password, 'Current Password' %>
    <%= form.password_field :existing_password, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= form.label :new_password, 'New Password' %>
    <%= form.password_field :new_password, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= form.label :organization_slug, 'Organization Slug' %>
    <%= form.text_field :organization_slug, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= form.submit 'Change Password', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back to login', login_path %>
