<h1>Reset Your Password Using Session</h1>

<%= form_with url: phcdevworks_accounts_stytch.b2b_process_reset_session_path(organization_slug: params[:organization_slug]), method: :post do |form| %>
  <div>
    <%= form.label :session_token, "Session Token" %>
    <%= form.text_field :session_token, required: true %>
  </div>

  <div>
    <%= form.label :password, "New Password" %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.submit "Reset Password" %>
  </div>
<% end %>
