<h1>Reset Your Password</h1>

<%= form_with url: phcdevworks_accounts_stytch.b2c_process_password_reset_path, method: :post do |form| %>
  <div>
    <%= form.label :token, "Reset Token" %>
    <%= form.text_field :token, required: true %>
  </div>

  <div>
    <%= form.label :password, "New Password" %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.submit "Reset Password" %>
  </div>
<% end %>
